<div class="container">
<h1 class="title-name">Work width galleres</h1>
<h2 class="gallery-name">Gallery by simpleLightbox</h2>
<div class="gallery-simpllightbox">
    <a href="../src/images/gallery/cat-big.webp">
        <img src="../src/images/gallery/cat-big.webp" alt="Big cat" width="300px">
    </a>
    <a href="../src/images/gallery/cat.webp">
        <img src="../src/images/gallery/cat.webp" alt="Cat" width="300px">
    </a>
    <a href="../src/images/gallery/fox.webp">
        <img src="../src/images/gallery/fox.webp" alt="Fox" width="300px">
    </a>
    <a href="../src/images/gallery/lion.webp">
        <img src="../src/images/gallery/lion.webp" alt="Lion" width="300px">
    </a>
    <a href="../src/images/gallery/pingvi.webp">
        <img src="../src/images/gallery/pingvi.webp" alt="Pingvi" width="300px">
    </a>
    <a href="../src/images/gallery/squirrel.webp">
        <img src="../src/images/gallery/squirrel.webp" alt="Squirrel" width="300px">
    </a>

</div>
<h2 class="gallery-name">Gallery by net</h2>
<ul class="card-set">
    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>


    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>

    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>

    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>

    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>

    <li class="item">
        <article class="card">
            <div class="card-thumb">
                <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
            </div>
            <div class="card-content">
                <h3 class="card-heding">Photo cat</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </article>
    </li>
</ul>
</div>