<h1>Work width galleres</h1>
<h2>Gallery by simpleLightbox</h2>
<div class="gallery">
    <a href="../src/images/gallery/cat-big.webp">
        <img src="../src/images/gallery/cat-big.webp" alt="Big cat">
    </a>
    <a href="../src/images/gallery/cat.webp">
        <img src="../src/images/gallery/cat.webp" alt="Cat">
    </a>
    <a href="../src/images/gallery/fox.webp">
        <img src="../src/images/gallery/fox.webp" alt="Fox">
    </a>
    <a href="../src/images/gallery/lion.webp">
        <img src="../src/images/gallery/lion.webp" alt="Lion">
    </a>
    <a href="../src/images/gallery/pingvi.webp">
        <img src="../src/images/gallery/pingvi.webp" alt="Pingvi">
    </a>
    <a href="../src/images/gallery/squirrel.webp">
        <img src="../src/images/gallery/squirrel.webp" alt="Squirrel">
    </a>

</div>